$def with(dashboard, list, error)
<!DOCTYPE html>
<html>
  <head>
    <title>Tasseo</title>
    <meta content='text/html;charset=utf-8' http-equiv='Content-Type'>
    <link href='static/c/style.css' rel='stylesheet' type='text/css'>
    <!--[if lte IE 8]>
    <script src='static/j/excanvas.min.js' type='text/javascript'></script>
    <![endif]-->
    <script src='static/j/jquery.min.js' type='text/javascript'></script>
    <script src='static/j/jquery.flot.min.js' type='text/javascript'></script>
  </head>
  <body>
    <div class="title">
      <span>
	$if dashboard:
	  $dashboard
	$else:
	  Tasseo
      </span>
    </div>
  </body>
</html>
